[MESSAGES CONTROL]

disable=unused-argument,
        attribute-defined-outside-init,
        no-member,
        too-few-public-methods,
        useless-super-delegation,
        #missing-function-docstring,
        #missing-class-docstring,
        #missing-module-docstring,

[DESIGN]

max-args=10
max-attributes=15

[SIMILARITIES]

min-similarity-lines=1000

[Basic]

good-names=Array_PxK,
           Array_NxK,
           Array_NxP,
           Array_1xP,
           Array_Nx1,
           val_X,
           Y, Y_hat, y, yt,
           B, b,
           X, x0,
           w,
